In [1]:
from pathlib import Path
import pandas as pd

## столбцы 
- product - Наименование товара
- group_of_products - Номенклатурная группа
- city - Город
- receipt - Номер чека ККМ
- date - Дата продажи
- store - АЗС
- sold_quantity - Количество проданных товаров
- cost_VAT - Закупочная сумма (с НДС)
- Розничная сумма
- Сумма наценки

In [2]:
data_folder = input("Путь к файлам(относительный): ")

Путь к файлам(относительный): folder

### !! Очищаем папку от скрытых файлов, иначе будет ошибка

In [3]:
# путь
p = Path(data_folder)

# находим xlsx
files = p.glob('*.xlsx')

# df
df_main = pd.concat([pd.read_excel(file, header=None, skiprows=2, skipfooter=1) for file in files])

In [32]:
# Делаем копию объединения файлов - для быстрого возврата к исходнику 
df = df_main.copy()

In [5]:
df.head(4)

,0,1,2,3,4,5,6,7,8,9
0,Чек ККМ ГС00-000001 от 01.01.2021 0:26:25,NaN,NaN,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,2,41.76,100.0,58.24
1,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЛАЯ ВОДА,NaN,NaN,NaN,NaN,1,26.92,40.0,13.08
2,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЛАЯ ВОДА,Керчь г,NaN,NaN,NaN,1,26.92,40.0,13.08
3,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,NaN,NaN,NaN,NaN,1,14.84,60.0,45.16

In [33]:
# Заполняем nan
df[[2, 3, 4, 5]] = df[[2, 3, 4, 5]].fillna(method='ffill')

In [7]:
df.head(4)

,0,1,2,3,4,5,6,7,8,9
0,Чек ККМ ГС00-000001 от 01.01.2021 0:26:25,NaN,NaN,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,2,41.76,100.0,58.24
1,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЛАЯ ВОДА,NaN,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,26.92,40.0,13.08
2,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЛАЯ ВОДА,Керчь г,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,26.92,40.0,13.08
3,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,Керчь г,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,14.84,60.0,45.16

In [34]:
#  удаляем лишние строки 
df = df[~df[0].str.contains('Чек')]

In [9]:
df.head(4)

,0,1,2,3,4,5,6,7,8,9
1,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЛАЯ ВОДА,NaN,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,26.92,40.0,13.08
2,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЛАЯ ВОДА,Керчь г,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,26.92,40.0,13.08
3,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,Керчь г,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,14.84,60.0,45.16
4,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,Керчь г,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,14.84,60.0,45.16

In [35]:
df.columns = ['product', 'group_of_products', 'city', 'receipt', 'date', 'store', 'sold_quantity', 
              'cost_VAT', 'Розничная сумма', 'Сумма наценки']

In [11]:
df.head(4)

,product,group_of_products,city,receipt,date,store,sold_quantity,cost_VAT,Розничная сумма,Сумма наценки
1,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЛАЯ ВОДА,NaN,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,26.92,40.0,13.08
2,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЛАЯ ВОДА,Керчь г,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,26.92,40.0,13.08
3,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,Керчь г,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,14.84,60.0,45.16
4,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,Керчь г,207546.0,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,14.84,60.0,45.16

In [36]:
df = df.astype({"receipt": "Int64"})

In [13]:
df.head(4)

,product,group_of_products,city,receipt,date,store,sold_quantity,cost_VAT,Розничная сумма,Сумма наценки
1,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЛАЯ ВОДА,NaN,207546,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,26.92,40.0,13.08
2,"Вода мин. Крымская слабогаз. 1,0л ПЭТ",БЕЛАЯ ВОДА,Керчь г,207546,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,26.92,40.0,13.08
3,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,Керчь г,207546,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,14.84,60.0,45.16
4,Кофе АМЕРИКАНО 200 мл АЗС 2 АЗС 4,КОФЕЙНЫЕ НАПИТКИ,Керчь г,207546,01.01.2021 0:26:25,АЗС №2 г.Керчь,1,14.84,60.0,45.16

In [37]:
df['profit'] = df['Сумма наценки'] / df['sold_quantity']
df['Стоимость единицы'] = df['cost_VAT'] / df['sold_quantity']

In [38]:
df = df.drop(['city', 'product', 'group_of_products', 
               'Розничная сумма', 'Сумма наценки', 'cost_VAT', 'sold_quantity'], axis=1)

In [39]:
# удаляем дубликаты 
df = df.drop_duplicates ()

In [40]:
df.head(4)

   receipt                date           store  profit  Стоимость единицы
1   207546  01.01.2021 0:26:25  АЗС №2 г.Керчь   13.08              26.92
3   207546  01.01.2021 0:26:25  АЗС №2 г.Керчь   45.16              14.84
6   207548  01.01.2021 0:28:27  АЗС №2 г.Керчь    6.91             108.09
9   207550  01.01.2021 0:48:10  АЗС №2 г.Керчь   25.97              44.03

In [41]:
# Смотрим nan по всем столбцам 
df.isnull().sum()

receipt                  0
date                     0
store                    0
profit                 347
Стоимость единицы    14513
dtype: int64

In [42]:
df.to_excel(f'{data_folder}/merged.xlsx')