In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('folder/2017 наценка.xlsx', header=None, skiprows=2)
# df.columns = ['']

In [138]:
# Столбцы с датой и АЗС – Заменяем nan значениями выше 
df[[3, 4]] = df[[3, 4]].fillna(method='ffill')
df[:4]

,0,1,2,3,4,5,6,7,8,9,10
0,Чек ККМ ГС00-000027 от 21.09.2017 9:57:48,NaN,5.0,21.09.2017 9:57:48,АЗС № 1 Героев Сталинграда 8А,1,48.30,70,21.70,44.93,31.00
1,"ИВ Лимонад Лаймони 0,6 л стекло","ВКУСОВАЯ, СЛАДКАЯ ВОДА, НАПИТКИ",NaN,21.09.2017 9:57:48,АЗС № 1 Героев Сталинграда 8А,1,48.30,70,21.70,44.93,31.00
2,Чек ККМ ГС00-000037 от 21.09.2017 11:10:32,NaN,6.0,21.09.2017 11:10:32,АЗС № 1 Героев Сталинграда 8А,1,26.57,40,13.43,50.55,33.58
3,"Вода Волна Байкала 0,5 л негаз",БЕЛАЯ ВОДА,NaN,21.09.2017 11:10:32,АЗС № 1 Героев Сталинграда 8А,1,26.57,40,13.43,50.55,33.58

In [141]:
# Удаляем все строки с чеком 
df = df[~df[0].str.contains('Чек')]

In [142]:
df[:12]

,0,1,2,3,4,5,6,7,8,9,10
1,"ИВ Лимонад Лаймони 0,6 л стекло","ВКУСОВАЯ, СЛАДКАЯ ВОДА, НАПИТКИ",NaN,21.09.2017 9:57:48,АЗС № 1 Героев Сталинграда 8А,1,48.30,70,21.70,44.93,31.00
3,"Вода Волна Байкала 0,5 л негаз",БЕЛАЯ ВОДА,NaN,21.09.2017 11:10:32,АЗС № 1 Героев Сталинграда 8А,1,26.57,40,13.43,50.55,33.58
5,"Вода Волна Байкала 0,5 л негаз",БЕЛАЯ ВОДА,7.0,21.09.2017 11:31:11,АЗС № 1 Героев Сталинграда 8А,3,79.71,120,40.29,50.55,33.58
6,"Вода Крым Аква 1,5 л газ ПЭТ",БЕЛАЯ ВОДА,7.0,21.09.2017 11:31:11,АЗС № 1 Героев Сталинграда 8А,2,39.00,60,21.00,53.85,35.00
7,"Вода Крым Аква 1,5 л негаз ПЭТ",БЕЛАЯ ВОДА,7.0,21.09.2017 11:31:11,АЗС № 1 Героев Сталинграда 8А,2,39.00,60,21.00,53.85,35.00
8,"ИВ Лимонад Лаймони 0,6 л стекло","ВКУСОВАЯ, СЛАДКАЯ ВОДА, НАПИТКИ",7.0,21.09.2017 11:31:11,АЗС № 1 Героев Сталинграда 8А,1,48.30,70,21.70,44.93,31.00
9,Лимонад Лаймони 1 л стекло,"ВКУСОВАЯ, СЛАДКАЯ ВОДА, НАПИТКИ",7.0,21.09.2017 11:31:11,АЗС № 1 Героев Сталинграда 8А,1,66.70,95,28.30,42.43,29.79
10,"Пепси Кола 0,33л ж/б","ВКУСОВАЯ, СЛАДКАЯ ВОДА, НАПИТКИ",7.0,21.09.2017 11:31:11,АЗС № 1 Героев Сталинграда 8А,2,53.20,80,26.80,50.38,33.50
11,"Пепси кола 0,6 л пэт","ВКУСОВАЯ, СЛАДКАЯ ВОДА, НАПИТКИ",7.0,21.09.2017 11:31:11,АЗС № 1 Героев Сталинграда 8А,2,62.00,90,28.00,45.16,31.11
12,"Пепси кола 1,25 л пэт","ВКУСОВАЯ, СЛАДКАЯ ВОДА, НАПИТКИ",7.0,21.09.2017 11:31:11,АЗС № 1 Героев Сталинграда 8А,1,52.10,75,22.90,43.95,30.53
13,"Энерг.нап. Ягуар Фри 0,5 л ж/б",ЭНЕРГЕТИЧЕСКИЕ НАПИТКИ,7.0,21.09.2017 11:31:11,АЗС № 1 Героев Сталинграда 8А,3,114.06,165,50.94,44.66,30.87
15,"ИВ Лимонад Сливочный 0,6 л стекло","ВКУСОВАЯ, СЛАДКАЯ ВОДА, НАПИТКИ",NaN,21.09.2017 11:37:48,АЗС № 1 Героев Сталинграда 8А,1,48.30,70,21.70,44.93,31.00