<div style='background: #FFE7DF; border-radius:10px; taxt-align: center; width: 444px; margin: 55px auto; padding:44px; border: 1px solid #754F4F'>
    <h5 style=' text-align:center; margin: auto'>
        Проведём анализ опроса
    </h5>
</div>

In [1]:
import pandas as pd
import numpy as np
import altair as alt

In [2]:
df_origin = pd.read_excel('ИССЛЕДОВАНИЕ ПОВЕДЕНИЯ (Ответы).xlsx')

## преобразуем таблицу

In [3]:
# Считаем новый столбец с возрастной группой 
def group(col):
    if col < 25:
        val = 1
    elif (col > 25) & (col < 35):
        val = 2
    elif (col > 35) & (col < 50):
        val = 3
    else :
        val = 4
    return str(val)

In [4]:
df_origin['Возрастная категория'] = df_origin['Укажите ваш возраст'].apply (group)

In [5]:
# Меняем значение в столбце на более короткое
df_origin.loc[df_origin['Выберете сферу вашей деятельности'] == 'Искусство и культура (кино, музыкальный бизнес, музеи и галереи, и т. д.)', \
       'Выберете сферу вашей деятельности'] = 'Сфера искусства'

In [6]:
# Удаляем дату
df_origin.drop(['Отметка времени'], axis=1, inplace=True)

In [7]:
# переименовываем столбцы 
df_origin.rename(columns = {'Выберете пол': 'Пол', 'Женат / замужем': 'Семья',
                    'Укажите ваш возраст': 'Возраст','Есть ли у вас дети?': 'Дети', 
                     'Выберете сферу вашей деятельности': 'Деятельность', 
                     'Оцените, как часто вы пользуетесь  социальными сетями?\nОтветы даются по пятибалльной шкале:\n1 – очень редко\n2 – иногда\n3 – часто\n4 – очень часто\n5 – практически не выхожу': 'Частота использования',
                     'Перейдёте по ссылке по рекомендации друзей/знакомых?': 'Переход по ссылке', 
                     'Сделаете репост по просьбе друзей/знакомых?': 'Репост по просьбе', 'Какие чувства вызовет такая реклама услуг?': 'Что вызывает реклама услуг', 'Какие чувства вызовет просьба сделать репост?': 'Чувства от просьбы'
                    }, inplace = True )

In [8]:
df_origin['Пол'].value_counts()

Женский    67
Мужской    18
Name: Пол, dtype: int64

### Количество мужчин и количество женщин в исходном файле  в значительной степени рознятся. Разделим таблицу на два отдельных df, мужской и женский

In [9]:
woman = df_origin[df_origin['Пол'] == 'Женский'].reset_index()
woman.reset_index(drop=True, inplace=True)
woman.drop(['index'], axis=1, inplace=True)
woman.head(2)

,Пол,Возраст,Семья,Дети,Высшее образование,Деятельность,Частота использования,Переход по ссылке,Репост по просьбе,Что вызывает реклама услуг,Чувства от просьбы,Возрастная категория
0,Женский,28,Да,Нет,Да,"Производство, промышленность",2,Да,Нет,Интерес,Меня используют (манипуляция),2
1,Женский,37,Нет,Нет,Да,Транспорт и логистика,3,Да,Да,Интерес,Первые 3 ответа в зависимости от уровня проект...,3

In [10]:
man = df_origin[df_origin['Пол'] == 'Мужской'].reset_index()
man.reset_index(drop=True, inplace=True)
man.drop(['index'], axis=1, inplace=True)
man.head(2)

,Пол,Возраст,Семья,Дети,Высшее образование,Деятельность,Частота использования,Переход по ссылке,Репост по просьбе,Что вызывает реклама услуг,Чувства от просьбы,Возрастная категория
0,Мужской,34,Да,Да,Да,"Производство, промышленность",4,Да,Нет,Раздражение / агрессия,Стыд / неловкость / что подумают обо мне получ...,2
1,Мужской,40,Да,Да,Да,Сфера образования,2,Да,Да,Интерес,Желание помочь,3

- выравниваем таблицей по размеру и Соединяем их ниже

In [11]:
# if len(woman) > len(man):
#     i = len(woman) - len(man)
# elif len(woman) < len(man):
#     i = len(man) - len(woman)
# else:
#     i = 0
    
# for j in range(i+1):
#     if len(woman) > len(man):
#         woman = woman.drop (index = 0 )
#         woman.reset_index(drop=True, inplace=True)
#     elif len(woman) < len(man):
#         man = man.drop (index = 0 )
#         man.reset_index(drop=True, inplace=True)
#     else:
#         print(len(man), len(woman))

In [12]:
# frames = [woman, man]
# df = pd.concat(frames)
# df.reset_index(drop=True, inplace=True)
# df.drop(['index'], axis=1, inplace=True)
# df.sample(3)

<div style=' margin-top: 122px; background: #EDEDED; padding: 22px 24px;'>
    <p style=''><b>Частота использования социальных сетей</b></p>
    <ul style='list-style-type: none'>
    <li>1 - очень редко</li>
    <li>2 - иногда</li>
    <li>3 - часто</li>
    <li>4 - очень часто</li>
    <li>5 - практически не выхожу</li>
    </ul></div>
<div style=' background: #EDEDED; padding: 0 0 22px 24px;'>
    <p style=''><b>Возрастная группа</b></p>
    <ul style='list-style-type: none'>
    <li>1 - Молодеж</li>
    <li>2 - Средний возраст</li>
    <li>3 - Зрелый возраст</li>
    <li>4 - Пожилой возраст</li>
    </ul></div>

# Предлагаю познакомиться c данными
### посмотрим, как выглядит наша аудитория

In [13]:
man.describe().style.format({'Возраст': '{0:,.0f}', 'Частота использования': '{0:,.0f}'})

## смотрим среднее значение частоты использования по полу, семейному положению, сферы деятельности

In [14]:
table = pd.pivot_table(df.round({'Частота использования': 1}), columns=["Пол","Семья"],index="Деятельность",
                       values="Частота использования", aggfunc={"Частота использования": np.mean},fill_value=0)
table.round(1)

NameError: name 'df' is not defined


<div style='background: #C5E8EF; taxt-align: center; width: 444px; margin: auto; padding:44px; border: 1px solid #636363'>
    <h5 style='color: #476285;  text-align:center; margin: auto'>
        Выводы 
    </h5>
</div>

###  Количество определенных возрастных категорий в каждой отрасли деятельности

In [ ]:
pivot_count = pd.pivot_table(df, 'Частота использования', 'Деятельность', 'Возрастная категория', 
                             aggfunc=['count'])

In [ ]:
pivot_count


<div style='background: #C5E8EF; taxt-align: center; width: 444px; margin: auto; padding:44px; border: 1px solid #636363'>
    <h5 style='color: #476285;  text-align:center; margin: auto'>
        Выводы 
    </h5>
</div>

In [ ]:
base = alt.Chart(df).encode(
    theta=alt.Theta("Возраст:Q", stack=True),
    radius=alt.Radius("Возраст", scale=alt.Scale(type="sqrt", zero=True, rangeMin=20)),
    color="Дети:N",
)

c1 = base.mark_arc(innerRadius=20, stroke="#fff")

c2 = base.mark_text(radiusOffset=10).encode(text="Возраст:Q")

c1 + c2

### посмотрим частоту использования соц сетей, рассматривая наличие семьи и вид деятельности

In [ ]:
df.groupby([df['Семья'], df['Деятельность']])['Частота использования'].agg(['min', 'median', 'max']).style.format({'median': '{0:,.0f}'})


<div style='background: #C5E8EF; taxt-align: center; width: 444px; margin: auto; padding:44px; border: 1px solid #636363'>
    <h5 style='color: #476285;  text-align:center; margin: auto'>
        яркая картина того, что у людей семьей меньше времени на то, чтобы тратить его на социальные сети  
    </h5>
</div>

In [ ]:
# all_income = list(df_origin['Что вызывает реклама услуг'])
# in_form = ['Желание помочь', 'Потребность поделиться', 'Стыд / неловкость / что подумают обо мне получатели', 
#               'Раздражение / агрессия', 'Меня используют (манипуляция)', 'Равнодушие']
# lst_= []

In [ ]:
# for id, val in enumerate(all_income):
#     if val not in in_form:
#         lst.append(val)

In [ ]:
range_color1 = ['#040745', '#00F946']
               
chart1 = alt.Chart(df, title='Что вызывает рекламу услуг по возрасту').mark_bar().encode(
    x='Возраст:N',
    y='Что вызывает реклама услуг',
    color=alt.Color('Частота использования', scale=alt.Scale(range=range_color1)
))
chart1 = chart1.configure_title(fontSize=20, offset=5, orient='top', anchor='middle')

In [ ]:
chart1

In [ ]:
range_color2 = ['#F6EE83', '#8D0107']

chart2 = alt.Chart(df, title='Чувства от просьбы по возрасту').mark_bar().encode(
    x='Возраст:N',
    y='Чувства от просьбы',
    color=alt.Color('Частота использования', scale=alt.Scale(range=range_color2)
))
chart2 = chart2.configure_title(fontSize=20, offset=5, orient='top', anchor='middle')

In [ ]:
chart2


<div style='background: #C5E8EF; taxt-align: center; width: 444px; margin: auto; padding:44px; border: 1px solid #636363'>
    <h5 style='color: #476285;  text-align:center; margin: auto'>
        Выводы 
    </h5>
</div>

In [ ]:
range_color3 = ['#F6EE83', '#B5A59C', '#46587C', '#564423', '#55A020', '#905869', '#27B78D', '#50630F', 
                '#17ADBE', '#C26854', '#D6B8F5', '#8D0107', '#7A4D7A', '#E6676A', '#3D429C', '#E27AD6', 
                '#7B2BA8']

chart3 = alt.Chart(df, title='Чувства от просьбы в каждой должности').mark_bar().encode(
    x='Чувства от просьбы:O',
    y='sum(Возраст):Q',
    color=alt.Color('Частота использования:N', scale=alt.Scale(range=range_color3)),
    column='Деятельность:N'
) 
chart3 = chart3.configure_title(fontSize=20, offset=15, orient='top', anchor='start')

In [ ]:
chart3

###  х

In [ ]:
chart4 = alt.Chart(df, title='Есть ли взаимосвязь привязанности к социальным сетям от чувств от рекламных услуг')\
.mark_bar(size=50).encode(
        x='Частота использования:Q',
        y=alt.X('count()', axis=alt.Axis(title='Количество пользователей')),
        color=alt.Color('Что вызывает реклама услуг', scale=alt.Scale(range=range_color3))
    ).properties(
    width=800,
    height=300
)

chart4 = chart4.configure_title(fontSize=20, offset=45, orient='top', anchor='middle')

In [ ]:
chart4


<div style='background: #225C68; taxt-align: center; width: 444px; margin: auto; padding:44px; border: 1px solid #636363'>
    <h5 style='color: #ffffff;  text-align:center; margin: auto'>
        тут что-нибудь написать про тех кто почти не вылезает из сот сетей, что они равнодушный к рекламе  
    </h5>
</div>

In [ ]:

chart5 = alt.Chart(df, title='Влияют ли дети на наши чувства').mark_bar().encode(
        x='Чувства от просьбы:N',
        y=alt.X('count()', axis=alt.Axis(title='Количество')),
        color=alt.Color('Дети', scale=alt.Scale(range=range_color3))
    ).properties(
    width=800,
    height=300
)
chart5 = chart5.configure_title(fontSize=20, offset=5, orient='top', anchor='middle')

In [ ]:
chart5

In [ ]:
# !jupyter nbconvert --to html pract.ipynb

In [ ]:
ygyhuhuhu

In [ ]:
ygyhuhuhu

In [ ]:
df.to_excel('Behavior.xlsx')

<div style='background: #FFE7DF; border-radius:10px; taxt-align: center; width: 444px; margin: 55px auto; padding:44px; border: 1px solid #754F4F'>
    <h5 style=' text-align:center; margin: auto'>
         Экспортируем файл для дальнейшей кластеризации. 
    </h5>
</div>