In [1]:
import pandas as pd
import numpy as np

## 1. ОП проект счёт

In [2]:
ss_project_invoice = pd.read_excel('files/ОП_Проект_Счет.xlsx')

In [3]:
ss_project_invoice.head()

,Обособленное подразделение,Проект,Код проекта,Расчетные счета
0,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008,40702810500000049708
1,Корвет-Киренск,СМР Этап 1Линейн.часть газопровода в составе с...,2002,40702810400000022472
2,Корвет-Киренск,"СМР Этап 5.1Компрессорная станция КС-1""Салдыке...",2003,40702810100000024068
3,Корвет-Киренск,СМР по организ.рельефа УКПГ-3 в сост. стройки ...,2005,40702810900000022477
4,Корвет-Киренск,СМР промбаза Нючакан по мульчир. на обьекте в ...,2005,40702810300000028628

## 2. статьи затрат

In [4]:
cost_items = pd.read_excel('files/Статьи_затрат.xlsx', header=None)
cost_items.columns = ['Счет', 'Статья затрат']

In [5]:
cost_items.head()

   Счет                 Статья затрат
0    60        Расчеты с поставщиками
1    62        Расчеты с покупателями
2    68            Расчеты по налогам
3    69  Расчеты по страховым взносам
4    70   Расчеты по заработной плате

## код_2008_Кт51

In [6]:
ct_51 = pd.read_excel('files/Селятино/код_2008_Кт51.xlsx', skiprows=8)[:-1] # без первых строк и последней

In [7]:
# удаляем колонки 
ct_51 = ct_51.drop(['Unnamed: 6', 'Счет.1', 'Unnamed: 8'], axis=1) 
# Оставляю колонку Unnamed: 5 для последующего просчета -Сумма расхода

In [8]:
# Делим столбец -3
ct_51['Подразделение'] = ct_51['Unnamed: 3'].str.split('\n', 1).str[0]
ct_51['Расчётный счёт'] = ct_51['Unnamed: 3'].str.split('\n', 1).str[1].str[:20]

# Колонка с со счётом - только первые два символа
ct_51['Счет'] = ct_51['Счет'].str[:2].astype(int)

In [9]:
ct_51[:3]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Счет,Unnamed: 5,Подразделение,Расчётный счёт
0,19.08.2022,Списание с расчетного счета ОПБП-009148 от 19....,Корвет-Киренск\nАТП 2020 ООО\nАТП-69П от 01.10...,"Корвет-Киренск\n40702810500000049708, БАНК ГПБ...",60,49012.78,Корвет-Киренск,40702810500000049708
1,19.08.2022,Списание с расчетного счета ОПБП-009094 от 19....,Уткин Алексей Геннадьевич\n<...>,"Корвет-Верейская\n40702810500000049708, БАНК Г...",70,92500.00,Корвет-Верейская,40702810500000049708
2,19.08.2022,Списание с расчетного счета ОПБП-009144 от 19....,Корвет-Киренск\nАТП 2020 ООО\nАТП-69П от 01.10...,"Корвет-Киренск\n40702810500000049708, БАНК ГПБ...",60,22956.99,Корвет-Киренск,40702810500000049708

In [10]:
ct_51 = ct_51.merge(ss_project_invoice, how='left', left_on=['Расчётный счёт'], right_on=['Расчетные счета'])

In [11]:
ct_51 = ct_51.merge(cost_items, how='left', left_on=['Счет'], right_on=['Счет'])

In [12]:
ct_51[:3]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Счет,Unnamed: 5,Подразделение,Расчётный счёт,Обособленное подразделение,Проект,Код проекта,Расчетные счета,Статья затрат
0,19.08.2022,Списание с расчетного счета ОПБП-009148 от 19....,Корвет-Киренск\nАТП 2020 ООО\nАТП-69П от 01.10...,"Корвет-Киренск\n40702810500000049708, БАНК ГПБ...",60,49012.78,Корвет-Киренск,40702810500000049708,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008,40702810500000049708,Расчеты с поставщиками
1,19.08.2022,Списание с расчетного счета ОПБП-009094 от 19....,Уткин Алексей Геннадьевич\n<...>,"Корвет-Верейская\n40702810500000049708, БАНК Г...",70,92500.00,Корвет-Верейская,40702810500000049708,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008,40702810500000049708,Расчеты по заработной плате
2,19.08.2022,Списание с расчетного счета ОПБП-009144 от 19....,Корвет-Киренск\nАТП 2020 ООО\nАТП-69П от 01.10...,"Корвет-Киренск\n40702810500000049708, БАНК ГПБ...",60,22956.99,Корвет-Киренск,40702810500000049708,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008,40702810500000049708,Расчеты с поставщиками

In [13]:
# Новые столбцы
ct_51['Проект расхода'] = ct_51['Подразделение']
ct_51['Код проекта расхода'] = ct_51['Код проекта'] # Код проекта расхода подтягивается из таблицы ОП проект счёт 
# по совпадению проекта расхода с обособленным подразделением в таблицы проект счёт

# следуя твоему комментарию, столбец 'Код проекта расхода' это дубликат столбца 'Код проекта'

In [14]:
# Переименовываем 
ct_51.rename(columns={'Обособленное подразделение': 'ОП', 'Счет': 'Счёт расход', 
                      'Статья затрат': 'Статья расхода', 'Unnamed: 5': 'Сумма расхода'}, inplace=True)

In [15]:
# Порядок столбцов 
ct_51 = ct_51.reindex(columns=['ОП', 'Проект', 'Код проекта', 'Расчётный счёт', 'Счёт расход', 'Статья расхода', 
                               'Проект расхода', 'Код проекта расхода', 'Сумма расхода'])

In [16]:
ct_51[:3]

,ОП,Проект,Код проекта,Расчётный счёт,Счёт расход,Статья расхода,Проект расхода,Код проекта расхода,Сумма расхода
0,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008,40702810500000049708,60,Расчеты с поставщиками,Корвет-Киренск,2008,49012.78
1,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008,40702810500000049708,70,Расчеты по заработной плате,Корвет-Верейская,2008,92500.00
2,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008,40702810500000049708,60,Расчеты с поставщиками,Корвет-Киренск,2008,22956.99

In [17]:
# Группируем 
ct_51 = ct_51.groupby(['ОП', 'Проект', 'Код проекта', 'Расчётный счёт', 'Код проекта расхода', 'Проект расхода',
'Счёт расход', 'Статья расхода'])['Сумма расхода'].sum().reset_index()

In [18]:
# Итоговое строка – сумма расхода 
new_row = {'ОП': np.nan, 'Проект': np.nan, 'Код проекта': np.nan, 'Расчетный счет': np.nan, 'Код проекта расхода': np.nan,
           'Проект расхода': np.nan, 'Статья расхода': 'Сумма - ', 'Сумма расхода': ct_51['Сумма расхода'].sum()}
ct_51 = ct_51.append(new_row, ignore_index=True)

/var/folders/1m/r8sjkd3n21s0fjc__2nczm000000gn/T/ipykernel_19364/2685618753.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ct_51 = ct_51.append(new_row, ignore_index=True)

In [19]:
ct_51[:3]

,ОП,Проект,Код проекта,Расчётный счёт,Код проекта расхода,Проект расхода,Счёт расход,Статья расхода,Сумма расхода,Расчетный счет
0,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008.0,40702810500000049708,2008.0,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",60.0,Расчеты с поставщиками,85601448.07,NaN
1,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008.0,40702810500000049708,2008.0,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",62.0,Расчеты с покупателями,1503762.72,NaN
2,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008.0,40702810500000049708,2008.0,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",68.0,Расчеты по налогам,103295.00,NaN

In [20]:
ct_51[-3:]

,ОП,Проект,Код проекта,Расчётный счёт,Код проекта расхода,Проект расхода,Счёт расход,Статья расхода,Сумма расхода,Расчетный счет
22,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008.0,40702810500000049708,2008.0,"Реконструкция ГРС ""Северо-Задонская""",60.0,Расчеты с поставщиками,1.053059e+07,NaN
23,"Газопровод-отвод и ГРС ""Селятино"" со строитель...",СМР по реконструкции газопровода-отвода и ГРС ...,2008.0,40702810500000049708,2008.0,"Реконструкция ГРС ""Северо-Задонская""",76.0,Расчеты с прочими дебиторами/кредиторами,4.130500e+05,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Сумма -,1.624297e+08,NaN

In [21]:
ct_51.to_excel('Отчет.xlsx', sheet_name='Отчет', index=False)